body {
  font-family: Roboto;
  font-size: 14px;
  color: #757575;
  background-color: #ffffff;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header__contacts-list, .main-nav__list, .mobile-socials, .benefits__list, .employment__list, .team__list, .socials, .clients__list, .footer__socials, .address__contacts, .filter, .examples {
  list-style-type: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.hero, .hero__btn, .benefits__container, .employment__box, .socials__link, .footer__socials-link, .btn, .modal__btn, .agreement__label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits__title, .agreement__input, .portfolio__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.employment__title, .team__title, .clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header .container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header .container {
    justify-content: space-between;
  }
}

.header__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  padding-top: 14px;
  padding-bottom: 15px;
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__logo-accent {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .header__contacts-list {
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts-list {
    display: flex;
    margin-left: 0;
  }
}

.header__contacts-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: calc(20px + 1vw);
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .header__contacts-link {
    font-size: 34px;
  }
}

@media screen and (min-width: 768px) {
  .header__contacts-link {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts-link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.header__contacts-link:hover, .header__contacts-link:focus {
  color: #2196f3;
}

.header__contacts-link:visited {
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .header__contacts-item:first-child {
    margin-right: 30px;
  }
}

.header__contacts-item:first-child .header__contacts-link {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .header__contacts-item:first-child .header__contacts-link {
    padding-top: 21px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts-item:first-child .header__contacts-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .header__contacts-item:last-child {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts-item:last-child {
    margin-top: 0;
  }
}

.header__contacts-item:last-child .header__contacts-link {
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .header__contacts-item:last-child .header__contacts-link {
    margin-left: -2px;
    padding-bottom: 21px;
    margin-block: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts-item:last-child .header__contacts-link {
    margin-left: 0px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__contacts-icon {
  margin-right: 10px;
  height: 14px;
  width: 14px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .header__contacts-icon {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts-icon {
    height: 16px;
    width: 16px;
  }
}

.header__contacts-link:hover .header__contacts-icon, .header__contacts-link:focus .header__contacts-icon {
  fill: #2196f3;
}

.main-nav {
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .main-nav__list {
    display: flex;
  }
}

.main-nav__item {
  margin-right: 50px;
  position: relative;
}

.main-nav__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .main-nav__item:last-child {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .main-nav__item {
    margin-bottom: 32px;
  }
}

.main-nav__link {
  display: block;
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .main-nav__link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.main-nav__link:hover, .main-nav__link:focus {
  color: #2196f3;
}

.main-nav__current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .main-nav__current::after {
    content: '';
    display: block;
    background: #2196f3;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: -1px;
  }
}

.nav-btn {
  display: inline-flex;
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 3;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
}

.nav-btn__icon-close, .nav-btn__icon-menu {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-btn:hover, .nav-btn:focus {
  cursor: pointer;
}

.nav-btn:hover .nav-btn__icon-close,
.nav-btn:hover .nav-btn__icon-menu, .nav-btn:focus .nav-btn__icon-close,
.nav-btn:focus .nav-btn__icon-menu {
  fill: #2196f3;
}

.nav-btn .nav-btn__icon-close {
  display: none;
}

.nav-btn.is-open .nav-btn__icon-close {
  display: block;
}

.nav-btn.is-open .nav-btn__icon-menu {
  display: none;
}

.nav-btn.is-open {
  position: fixed;
}

@media screen and (max-width: 767px) {
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    padding: 48px 40px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .nav-container {
    display: flex;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .nav-container {
    justify-content: space-between;
    width: 100%;
  }
}

.nav-container.is-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  opacity: 1;
  visibility: visible;
}

.mobile-socials {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .mobile-socials {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-socials__item {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
}

@media screen and (max-width: 767px) {
  .mobile-socials__item:first-child {
    padding-left: 0;
    border-left: 0;
  }
}

.mobile-socials__link {
  color: #2196f3;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mobile-socials__link:visited {
  text-decoration: none;
}

.hero {
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-color: #2f303a;
  max-width: 480px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-480.jpg");
  background-size: 480px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-480@2x.jpg");
  }
}

@media screen and (min-width: 481px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-768.jpg");
    background-size: 768px;
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-768@2x.jpg");
  }
}

@media screen and (min-width: 769px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-1600.jpg");
    background-size: 1600px;
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-1600@2x.jpg");
  }
}

@media screen and (min-width: 769px) and (min-width: 1200px) {
  .hero {
    height: 600px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px 10px 32px;
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.benefits__container {
  margin-bottom: 30px;
  height: 120px;
  width: 100%;
  background-color: #f5f4fa;
}

.benefits__icon {
  height: 70px;
  width: 70px;
}

.benefits__item {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: 354px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    width: 270px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item:first-child {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits__item:nth-child(2n + 1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

.benefits__item-title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .benefits__item-title {
    text-align: left;
  }
}

.benefits__item-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.employment {
  display: none;
  padding-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .employment {
    display: block;
  }
}

.employment__title {
  margin-bottom: 50px;
}

.employment__list {
  display: flex;
}

.employment__img {
  display: block;
}

.employment__item {
  margin-right: 30px;
  position: relative;
}

.employment__item:last-child {
  margin-right: 0;
}

.employment__item-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.employment__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.employment__img::after {
  content: '';
  display: block;
  width: 100%;
}

.employment__box {
  position: absolute;
  transform: translate(0, -100%);
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.member {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .member {
    width: 354px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .member {
    width: 270px;
    margin-bottom: 0;
  }
}

.member:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .member:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .member:nth-child(2n + 1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .member:first-child {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .member:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

.member__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.member__description {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .member__description {
    padding-bottom: 30px;
  }
}

.member__text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.member__photo {
  display: block;
  max-width: 100%;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item {
  margin-left: 10px;
}

.socials__item:first-child {
  margin-left: 0;
}

.socials__link {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
}

.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: #ffffff;
}

.socials__icon {
  fill: #afb1b8;
  height: 20px;
  width: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
}

.clients__item {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .clients__item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 479px) {
  .clients__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients__item:nth-child(2n + 1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item:nth-child(3n + 1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item:first-child {
    margin-left: 0;
  }
}

.clients__link {
  display: flex;
  height: 92px;
  width: 210px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
}

.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: #2196f3;
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__socials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__socials-container {
    margin-left: 70px;
    margin-bottom: 0;
    display: block;
  }
}

.footer__call {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__socials {
  display: flex;
  margin-top: 20px;
}

.footer__socials-icon {
  fill: #ffffff;
  height: 20px;
  width: 20px;
}

.footer__socials-link {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__socials-link:hover, .footer__socials-link:focus {
  background-color: #2196f3;
}

.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .footer__form {
    margin-left: 93px;
    width: 570px;
    display: block;
  }
}

.footer__form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .footer__form-box {
    flex-direction: row;
  }
}

.footer__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 100%;
  height: 50px;
  background-color: #2f303a;
  margin-bottom: 20px;
  padding-left: 16px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.footer__input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 232px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .address {
    display: block;
    margin-bottom: 0;
  }
}

.address__logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .address__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.address__logo-accent {
  color: #2196f3;
}

.address__location {
  margin-bottom: 9px;
  color: #ffffff;
  font-style: normal;
}

.address__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .address__contacts {
    display: block;
  }
}

.address__item:first-child {
  margin-bottom: 9px;
}

.address__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.address__link:visited {
  color: rgba(255, 255, 255, 0.6);
}

.btn {
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: #2196f3;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn__txt {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin-right: 10px;
}

.btn__icon {
  fill: #ffffff;
  height: 24px;
  width: 24px;
}

.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: visible;
  overflow-y: hidden;
  background-attachment: fixed;
}

.back-drop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.back-drop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100vw - 30px);
  padding: 40px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
}

.modal__btn:focus .modal__icon, .modal__btn:hover .modal__icon {
  fill: #2196f3;
}

.modal__icon {
  fill: #000000;
  height: 18px;
  width: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__call {
  display: inline-block;
  margin-bottom: 12px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form__field {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__name {
  display: inline-block;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-form__input {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border-color: #2196f3;
}

.modal-form__input:focus + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__icon {
  position: absolute;
  top: 29px;
  left: 12px;
  fill: #212121;
  height: 18px;
  width: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__comment {
  margin-bottom: 20px;
  width: 100%;
}

.modal-form__textarea {
  display: inline-block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea::placeholder {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form .btn {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.agreement {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .agreement {
    padding-left: 12px;
  }
}

.agreement__text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .agreement__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.agreement__input:checked + .agreement__checkbox {
  background-color: #2196f3;
  box-shadow: inset 0 0 0 2px #2196f3;
}

.agreement__input:focus + .agreement__checkbox {
  box-shadow: inset 0 0 0 2px #2196f3;
}

.agreement__checkbox {
  flex-shrink: 0;
  margin-right: 8px;
  box-sizing: border-box;
  width: 16px;
  height: 15px;
  fill: #ffffff;
  border-radius: 2px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: inset 0 0 0 2px #212121;
}

.agreement__link {
  color: #2196f3;
}

.filter {
  display: flex;
  justify-content: left;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.filter__item:last-child {
  margin-right: 0;
}

.filter__btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:hover, .filter__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px, 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__current {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px, 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .examples {
    display: flex;
    flex-wrap: wrap;
  }
}

.examples__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .examples__item:nth-child(2n) {
    margin-left: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .examples__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .examples__item {
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .examples__item:nth-child(3n + 1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .examples__item:nth-last-child(n + 7) {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .examples__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.examples__link {
  display: block;
  border: 1px solid #eeeeee;
  max-width: 450px;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .examples__link {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .examples__link {
    width: 370px;
  }
}

.examples__link:hover, .examples__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples__link:hover .examples__text, .examples__link:focus .examples__text {
  transform: translate(0, -100%);
}

.examples__box {
  position: relative;
  overflow: hidden;
}

.examples__text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  position: absolute;
  overflow-y: scroll;
  top: 100%;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__description {
  flex-grow: 1;
  padding: 20px 24px;
}

.examples__name {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.examples__field {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.examples__photo {
  display: block;
  max-width: 100%;
}
/*# sourceMappingURL=main.css.map */