.benefits {
  &__list {
    @extend %list-style;
    @include respond-to('tablet') {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__container {
    @extend %centered;
    margin-bottom: 30px;
    height: 120px;
    width: 100%;
    background-color: map-get($colors, 'team-bg');
  }
  &__icon {
    height: 70px;
    width: 70px;
  }
  &__item {
    width: 100%;
    margin-bottom: 30px;
    @include respond-to('tablet') {
      width: 354px;
      margin-left: 30px;
    }
    @include respond-to('desktop') {
      width: 270px;
      margin-bottom: 0;
    }
    &:first-child {
      @include respond-to('desktop') {
        margin-left: 0;
      }
    }
    &:nth-child(2n + 1) {
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: 0;
      }
    }
    &:nth-last-child(-n + 2) {
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 0;
      }
    }
    &-title {
      margin-bottom: 10px;
      color: map-get($colors, 'nav');
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-align: center;
      @include respond-to('tablet') {
        text-align: left;
      }
    }
    &-text {
      line-height: 1.71;
      letter-spacing: 0.03em;
    }
  }
  &__title {
    @extend %visually-hidden;
  }
}
