.benefits {
  &__list {
    @extend %list-style;
  }
  &__container {
    @extend %centered;
    margin-bottom: 30px;
    height: 120px;
    width: 270px;
    background-color: map-get($colors, 'team-bg');
  }
  &__icon {
    height: 70px;
    width: 70px;
  }
  &__item {
    width: 270px;
    margin-left: 30px;
    &:first-child {
      margin-left: 0;
    }
    &-title {
      margin-bottom: 10px;
      color: map-get($colors, 'nav');
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
    &-text {
      line-height: 1.71;
      letter-spacing: 0.03em;
    }
  }
  &__title {
    @extend %visually-hidden;
  }
}
