.header {
  border-bottom: 1px solid map-get($colors, 'header-border');
  position: relative;
  .container {
    display: flex;
    align-items: center;
    @media screen and(min-width: 768px) and(max-width: 1199px) {
      justify-content: space-between;
    }
  }
  &__logo {
    font-family: map-get($fonts, 'logo');
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: map-get($colors, 'main');
    text-decoration: none;
    padding-top: 14px;
    padding-bottom: 15px;
    @include respond-to('desktop') {
      margin-right: 93px;
      padding-top: 24px;
      padding-bottom: 25px;
    }
  }
  &__logo-accent {
    color: map-get($colors, 'accent');
  }
  &__contacts-list {
    @extend %list-style;
    @include respond-to('tablet') {
      margin-left: 84px;
    }
    @include respond-to('desktop') {
      display: flex;
      margin-left: 0;
    }
  }
  &__contacts-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: calc(20px + 1vw);
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: map-get($colors, 'description');
    transition: color $chang-time $chang-func;
    @include respond-to('mobile') {
      font-size: 34px;
    }
    @include respond-to('tablet') {
      font-size: 12px;
      line-height: 1.17;
    }
    @include respond-to('desktop') {
      font-size: 14px;
      line-height: 1.14;
    }
    &:hover,
    &:focus {
      color: map-get($colors, 'accent');
    }
    &:visited {
      color: map-get($colors, 'description');
    }
  }
  &__contacts-item:first-child {
    @include respond-to('desktop') {
      margin-right: 30px;
    }
    .header__contacts-link {
      margin-bottom: 32px;
      @include respond-to('tablet') {
        padding-top: 21px;
        margin-bottom: 0;
      }
      @include respond-to('desktop') {
        padding-top: 32px;
        padding-bottom: 32px;
      }
    }
  }
  &__contacts-item:last-child {
    @include respond-to('tablet') {
      margin-top: 10px;
    }
    @include respond-to('desktop') {
      margin-top: 0;
    }
    .header__contacts-link {
      margin-bottom: 64px;
      @include respond-to('tablet') {
        margin-left: -2px;
        padding-bottom: 21px;
        margin-block: 0;
      }
      @include respond-to('desktop') {
        margin-left: 0px;
        padding-top: 32px;
        padding-bottom: 32px;
      }
    }
  }
  &__contacts-icon {
    @media screen and (max-width: 767px) {
      display: none;
    }
    margin-right: 10px;
    height: 14px;
    width: 14px;
    fill: map-get($colors, 'description');
    transition: fill $chang-time $chang-func;

    @include respond-to('desktop') {
      height: 16px;
      width: 16px;
    }
  }

  &__contacts-link:hover,
  &__contacts-link:focus {
    .header__contacts-icon {
      fill: map-get($colors, 'accent');
    }
  }
}

.main-nav {
  margin-right: auto;
  &__list {
    @extend %list-style;
    @include respond-to('tablet') {
      display: flex;
    }
  }
  &__item {
    margin-right: 50px;
    position: relative;
    &:last-child {
      margin-right: 0;
      @media screen and(max-width: 767px) {
        margin-bottom: 32px;
      }
    }
    @media screen and(max-width: 767px) {
      margin-bottom: 32px;
    }
  }
  &__link {
    display: block;
    text-decoration: none;
    color: map-get($colors, 'nav');
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    transition: color $chang-time $chang-func;
    @include respond-to('tablet') {
      font-size: 14px;
      line-height: 1.14;
      padding-top: 32px;
      padding-bottom: 32px;
    }
    &:hover,
    &:focus {
      color: map-get($colors, 'accent');
    }
  }
  &__current {
    color: map-get($colors, 'accent');
    &::after {
      @include respond-to('tablet') {
        content: '';
        display: block;
        background: map-get($colors, 'accent');
        border-radius: 2px;
        height: 4px;
        width: 100%;
        position: absolute;
        bottom: -1px;
      }
    }
  }
}

.nav-btn {
  display: inline-flex;
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 3;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  @include respond-to('tablet') {
    display: none;
  }
  &__icon-close,
  &__icon-menu {
    fill: map-get($colors, 'main');
    transition: fill $chang-time $chang-func;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    .nav-btn__icon-close,
    .nav-btn__icon-menu {
      fill: map-get($colors, 'accent');
    }
  }
  & &__icon-close {
    display: none;
  }
  &.is-open &__icon-close {
    display: block;
  }
  &.is-open &__icon-menu {
    display: none;
  }
  &.is-open {
    position: fixed;
  }
}

.nav-container {
  @media screen and(max-width: 767px) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: map-get($colors, 'light');
    padding: 48px 40px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 5000ms $chang-func, visibility 5000ms $chang-func;
  }
  @include respond-to('tablet') {
    display: flex;
    text-align: center;
  }
  @include respond-to('desktop') {
    justify-content: space-between;
    width: 100%;
  }
  &.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    opacity: 1;
    visibility: visible;
  }
}

.mobile-socials {
  @extend %list-style;
  display: flex;
  flex-wrap: wrap;
  @include respond-to('tablet') {
    display: none;
  }
  &__item {
    @media screen and(max-width: 767px) {
      padding-left: 10px;
      padding-right: 10px;
      border-left: 1px solid map-get($colors, 'input');
    }
    &:first-child {
      @media screen and(max-width: 767px) {
        padding-left: 0;
        border-left: 0;
      }
    }
  }
  &__link {
    color: map-get($colors, 'accent');
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    &:visited {
      text-decoration: none;
    }
  }
}
