.hero {
  @extend %centered;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-color: map-get($colors, 'hero-bg');
  max-width: 480px;
  background-image: linear-gradient(
      to right,
      map-get($colors, 'hero-dark'),
      map-get($colors, 'hero-dark')
    ),
    url('../images/hero-bg-480.jpg');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        map-get($colors, 'hero-dark'),
        map-get($colors, 'hero-dark')
      ),
      url('../images/hero-bg-480@2x.jpg');
  }
  background-size: 480px;
  @include respond-to('tablet') {
    max-width: 768px;
    background-image: linear-gradient(
        to right,
        map-get($colors, 'hero-dark'),
        map-get($colors, 'hero-dark')
      ),
      url('../images/hero-bg-768.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          map-get($colors, 'hero-dark'),
          map-get($colors, 'hero-dark')
        ),
        url('../images/hero-bg-768@2x.jpg');
    }
    background-size: 768px;
  }
  @include respond-to('desktop') {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        to right,
        map-get($colors, 'hero-dark'),
        map-get($colors, 'hero-dark')
      ),
      url('../images/hero-bg-1600.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          map-get($colors, 'hero-dark'),
          map-get($colors, 'hero-dark')
        ),
        url('../images/hero-bg-1600@2x.jpg');
    }
    background-size: 1600px;
  }
  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: map-get($colors, 'light');
    @include respond-to('desktop') {
      font-size: 44px;
      line-height: 1.36;
    }
  }
  &__btn {
    @extend %centered;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px 10px 32px;
    color: map-get($colors, 'light');
    background-color: map-get($colors, 'accent');
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent;
    transition: background-color $chang-time $chang-func;
    &:hover,
    &:focus {
      background-color: map-get($colors, 'btn');
    }
  }
}
